<h1>Login de Usuario</h1>
<form method="post">
    <label>Email:</label>
    <input type="text" name="email" />
    <label>Password:</label>
    <input type="text" name="pass" />
    <button class="btn btn-success">Log In</button>
</form>